.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.card {
  border: solid 1px #6b6b6b;
  border-radius: 5px;
  padding: 2rem;
}

.button-group {
  margin-top: 20px;
  margin-left: 30px;
}

.logo {
  float: right;
  width: 50px;
}

h2 {
  margin-top: 2rem;
}

button {
  margin-right: 10px;
  border: 1px solid #46c6ea;
  border-radius: 5px;
  background: #46c6ea;
  color: black;
  padding: 5px;
  padding-right: 14px;
  padding-left: 12px;
  font-size: 17px;
  font-weight: bold;
}

button:hover {
  background-color: #7ce2ff;
  color: black;
  border: 1px solid #7ce2ff;
}
